Source: ros-foxy-rqt-py-console
Section: misc
Priority: optional
Maintainer: Dorian Scholz <scholz@sim.tu-darmstadt.de>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ros-workspace
Homepage: http://wiki.ros.org/rqt_py_console
Standards-Version: 3.9.2

Package: ros-foxy-rqt-py-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-ament-index-python, ros-foxy-python-qt-binding (>= 0.2.19), ros-foxy-qt-gui, ros-foxy-qt-gui-py-common, ros-foxy-rclpy, ros-foxy-rqt-gui, ros-foxy-rqt-gui-py, ros-foxy-ros-workspace
Description: rqt_py_console is a Python GUI plugin providing an interactive Python console.
